body{
	background-color:rgb(246,246,246);
}


$fulllWidth:100%;
$width:90%;

.fulllWidth{
	width:$fulllWidth;
}
.width{
	width:$width;
}
.main{
	margin:0px auto;
}

$color-orange:rgb(242,255,0);
$color-whire:rgb(255,255,255);


// top of the navigation bar
.navBarSection{

	.navbar{
		background-color: rgba(0, 0, 0, 0.7);
		margin:0px auto;
		padding:0px;
		button{
			background-color: white;
		}
		.navbar-brand{
			img{
				width: 50%;
			}
		}
		span{
			input{
				color:white;
    			background-color: rgba(0, 0, 0, 0.1);
				height: 20px;
				width: 200px;
				border-radius: .50rem;
				    .btn{
				    	padding:0px;
				    }
			}
		}
		.collapse{
			.navbar-text{
				.login-and-languages{
					margin-bottom: 5px;
					text-align: right;
					color: white;

						a{
							margin-right:15px;
						}
						a:hover{
							margin-right:15px;
							color: green;
							text-decoration: none;
						}
				}
				.loginPassword{
					text-align: right;
					margin-bottom: 5px;
					li{	
					    display: inline-block;
					    margin-right:15px; 				
						input{
							width: 150px;
							font-size: 80%;
							border:0.5px;
						}
						button{
							background-color:gray;
							height: 20px;
							color:black;
							text-size:5px;
							line-height: 0.25;
							border:0.5px solid green;
							}
							button:hover{
								background-color:red;
							}
							
					}
				}
				padding-bottom:0px;
					.nav-tabs {
						.nav-item{
							.nav-link{
								padding:10px 8px;
								color:$color-whire;
								font-weight:500;
								font-size: 15px;
							}
							.active{
								background-color:red;
							}
						}
						.nav-item:hover{
							background-color:red;
							transition: 0.7s;
						}
				}

			}
		}
	}
}


//slider section

.sliderSection{
    box-shadow: 0 0px 500px 0px black;
	overflow:hidden;
	.slide{
		.carousel-inner{
			.carousel-item{
				width: 100%;
				height: 600px;
				img{
					height: auto;
				}
			}
		}
	}
}

//end slider section

.car360panel{
	background-color:rgb(19,69,100);
	.row{
		margin:0px auto;
		.col-md-12{
			display: flex;
			.logoImage{
				img{
					width:150%;
				}
			}
		}
		.col-md-8{
			text-align: center;
			h2{
				margin-top: 25px;
				color: $color-whire;
			}
		}
		.button{
			text-align: center;
			button{
				margin-top: 25px;
				background-color:red;
				border-radius:8px;
				border:0px;
				color: white;
				width: 150px;
				height: 40px;
			}
		}
	}
}

.autoSaleSection{
	padding-top:20px;
	padding-bottom:20px;
	.row{
		margin: 0px auto;
		.leftPanel{
			h2{
				padding-right:15px;
				button{
					float: right;
				}
				button:hover{
					background-color:red;
				}
			}
			padding-left: 0px;
			padding-right: 0px;
			.col-md-12{
				padding-left: 0px;
				padding-right: 0px;
				.col-md-4{
					height: 200px;
					padding-bottom:0px;
					padding-left: 0px;
					overflow: hidden;
					img{
						width: 100%;
						height: 120px;
					}
				}
			}
		}
		.rightPanel{
			.row{
				.col-md-12{
					padding-left:0px;
					.row{
						.leftCollumn{
							padding-left:0px;
							h5{
								margin-bottom:0px;
							}
							select{
								width: 100%;
							}
							.year{
								width: 100%;
								h5{
									display: block;
									margin-bottom:0px;
								}
								input{
									    float: left;
								}
							}
							.price{
								input{
									    float: left;
								}
							}
							.Buttons{
								margin-top: 10px;
								button:hover{
									background-color:red;
								}
							}
						}
						.rightCollumn{
							.image{
								overflow: hidden;
								img{
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
		
	}
}


//car club slidersection
.carClubSlider{
  box-shadow: 500px 0px 0px 0px black;
  background-image: url("../image/car_logo/parallax.jpg");
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	.row{
		margin:0px auto;
		margin-top:60px;
		height: 150px;
		.col-md-2{
			width: 100%;
			height: 70px;
			text-align:center;
			img{
				text-align:center;
				height: 100%;
				overflow: hidden;
			}
			h2{
				text-align:center;
			}
		}
		.col-md-2:hover{
			width: 100%;
			height: 70px;
			margin-top: -20px;
			transition: 0.5s;
			img{

				height: 120%;
				transition: 0.7s; 
				overflow: hidden;
			}
			h2{text-align:center;
				font-size: 40px;
				transition: 0.7s;
				i{  color:blue;
					text-decoration: none;
					transition: 0.5s;
				}
			}
		}
	}
}


.gallerySection{
	padding-top: 20px;
 	padding-bottom: 40px;
 	padding-right: 0px;
    padding-left: 0px;
    h1{
    	padding-bottom: 10px;
    }
  	.gallery{
  		margin:0px auto;

  	}
  	.container{
  		.row{
  			.col-md-3{
  				overflow: hidden;
  				padding-left:0px;
  				padding-right:0px;
  			}
  			img {
  				width: 100%;
		   		filter: gray; /* IE6-9 */
			    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
			    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
			    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
			}

  		}
  	}
}



.footer{
  	background-image: url("../image/footer-parallax.jpg");
  	
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color:white;
  	.backDiv{
  		background-color: rgba(0, 0, 0, 0.5);
  		.container{
	  		.row{
	  			margin-top:0rem!important;
	   			margin-bottom: 0rem!important;
	   			.col-md-4{
	   				h5{
	   					margin-top: 1.5rem!important;
	   				}
	   			}
	  			.navbar-link{
	  				margin-left: 0px;
	  				ul{
	  					padding-left:0px;
	  					p{
	  						margin:0px;
	  						a{
	  							color: white;
	  						}
	  						a:hover{
	  							text-decoration: none;
	  							text-size:25;
	  						}
	  					}
	  				}
	  			}
	  		}
	  	}
  	}
}